<h2>Paises</h2>
<hr>

<ul class="list-group">
  <li
    routerLink=""
    routerLinkActive="active"
    class="list-group-item"
    [routerLinkActiveOptions]="{exact: true}"
  >HomePage</li>
  <li
    routerLink="about"
    routerLinkActive="active"
    class="list-group-item"
  >AboutPage</li>
  <li
    routerLink="contact"
    routerLinkActive="active"
    class="list-group-item"
  >ContactPage</li>

  <li
    routerLink="countries/byCapital"
    routerLinkActive="active"
    class="list-group-item"
  >By Capital</li>
  <li
    routerLink="countries/byCountry"
    routerLinkActive="active"
    class="list-group-item"
  >By Country</li>
  <li
    routerLink="countries/byRegion"
    routerLinkActive="active"
    class="list-group-item"
  >By Region</li>

</ul>
